[submodule "zkevm-node"]
	path = zkevm-node
	url = https://github.com/cwbhhjl/zkevm-node.git
	branch = demo
[submodule "zkevm-bridge-service"]
	path = zkevm-bridge-service
	url = https://github.com/cwbhhjl/zkevm-bridge-service.git
	branch = demo
[submodule "zkevm-bridge-ui"]
	path = zkevm-bridge-ui
	url = https://github.com/0xPolygonHermez/zkevm-bridge-ui.git
	branch = develop
[submodule "exchain"]
	path = exchain
	url = https://github.com/okx/exchain.git
